@model Equipe


<link rel="stylesheet" href="~/css/Header-Footer.css">
<link rel="stylesheet" href="~/css/equipes.css">

@{
    ViewData["Title"] = "Edit";
}

<main>
    <section class="container-grid cadastro-equipes">
        @if (ViewBag.UserName == null)
        {
            <a asp-area="" asp-controller="Login" asp-action="Index">
                Login
            </a>
        }
        else
        {

            <form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Edição de equipes</h1>
                    <hr>
                </div>

                <input type="hidden" name="IdEquipe" value="@ViewBag.Equipe.IdEquipe">

                <input class="campo-entrada" type="text" placeholder="Digite o nome da sua equipe:" name="Nome"
                    value="@ViewBag.Equipe.Nome">
                <label class="foto" for="foto-file">
                    Nenhuma imagem selecionada...
                    <input type="file" id="foto-file" name="Imagem" value="@ViewBag.Equipe.Imagem">
                </label>

                <button type="submit">Atualizar</button>
            </form>
        }
    </section>

</main>

